<%- include('../partials/header.ejs')  %>
<h1 class="title">EDIT</h1>
<h2 class="sub-title">Task</h2>
<div class="parent-container">
    <div class="task-container">
        <li class="task-show-title pl-16">
            <%=task.name%>
        </li>
        <li class="task-show-li pl-16">
            <%=task.time%>
        </li>
        <li class="task-show-li pl-16">
            <%=task.note%>
        </li>
        <form id="form-edit" class="py-5" action="/tasks/<%=task.id%>?_method=PUT" method="POST">
            <input class="border bg-transparent rounded-md p-1 m-1 flex justify-center mx-auto" type="text" name="name" placeholder="<%=task.name%>"/>
            <input class="border bg-transparent rounded-md p-1 flex justify-center mx-auto" type="text" name="time" placeholder="<%=task.time%>"/>
            <input class="border bg-transparent rounded-md p-1 flex justify-center mx-auto" type="text" name="note" placeholder="<%=task.note%>"/>
        </form>
    </div>
</div>
<div class="create-container">
    <div class="create-btn flex justify-center">
        <input class="edit cursor-pointer flex justify-center mx-auto" type="submit" value="Edit" form="form-edit">
    </div>
</div>
<a class="back" href="/tasks">Back</a>
<%- include('../partials/footer.ejs') %>