<%- include('../partials/back.ejs')  %>
<h1 class="title">EDIT</h1>
<h2 class="sub-title">Task</h2>
<div class="parent-container">
    <div class="edit-container">
        <li class="task-show-title">
            <%=task.name%>
        </li>
        <li class="task-show-li">
            <%=task.time%>
        </li>
        <li class="task-show-li">
            <%=task.note%>
        </li>
        <form id="form-edit" class="py-5" action="/tasks/<%=task.id%>?_method=PUT" method="POST">
            <input class="border bg-transparent rounded-md p-1 m-1 flex justify-center mx-auto" type="text" name="name" value="<%=task.name%>"/>
            <input class="border bg-transparent rounded-md p-1 flex justify-center mx-auto" type="text" name="time" value="<%=task.time%>"/>
            <input class="border bg-transparent rounded-md p-1 flex justify-center mx-auto" type="text" name="note" value="<%=task.note%>"/>
        </form>
    </div>
</div>
<div class="create-container">
    <div class="create-btn flex justify-center">
        <input class="edit cursor-pointer flex justify-center mx-auto" type="submit" value="Edit" form="form-edit">
    </div>
</div>

<%- include('../partials/footer.ejs') %>
