<%- include('../partials/header.ejs') %>


<h1 class="title">Today's</h1>
<h2 class="sub-title">Tasks</h2>
<div class="parent-container">
    <div class="task-container pl-10 pr-5">
        <% for( let i = 0; i < tasks.length; i++ ) { %>
            <li class="text-left py-1">
                <div class="time-container ">
                    <div class="text-container">      
                        <a class="font-semibold text-3xl"  href="/tasks/<%=tasks[i].id%>">
                            <%=tasks[i].name%>
                        </a> 
                    </div>
                    <p class="py-1 text-xl font-semibold"><%=tasks[i].time%></p>
                </div>
                <div class="toggle-container">
                    <div class="note-container">
                        <p class="py-1"><%=tasks[i].note%></p>
                    </div>
                    <div class="switch-container">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </li> 
            <div class="divide"></div>
            <% } %>
        </div>
</div>
<div class="create-container">
    <div class="create-btn flex justify-center">
        <a class="create p-2" href="/tasks/new">Add Task</a>
    </div>
</div>


<%- include('../partials/footer.ejs') %>